.navbar {
    display: flex;
    justify-content: right;
    justify-content: space-between;
    align-items: right;
    background-color: rgb(3, 191, 165);
    color: #fff;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
  }
  
  .navbar-left .logo {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-right .nav-links {
    list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  .navbar-right .nav-links {
    margin-right: 1rem;
  }
  
  .navbar-right .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-right .cart-icon,
  .navbar-right .user-icon {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    position: relative;
  }
  
  .navbar-right .cart-count {
    background-color: #f44336;
    color: #fff;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
  }