.navbar {
    display: flex;
    justify-content: right;
    justify-content: space-between;
    align-items: right;
    background-color: rgb(3, 191, 165);
    color: #fff;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    height: 1.8rem;
  }

  .navbar-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .app-logo {
    height: 80px;
    width: 80px;
    margin-top: 1rem;
  }

   .logo {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    margin-left: -1rem ;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .nav-links a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
  }
